:root {
  --bg-right: rgb(51, 128, 128);
  --bg-left: rgb(91, 51, 128);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #3c3c3c;
  color: #fff;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.col-sm {
  background-color: rgba(0, 255, 255, 0.289);
}
.col-md {
  background-color: rgba(140, 255, 0, 0.253);
}
.col-lg {
  background-color: rgba(255, 0, 144, 0.373);
}
.col-xl {
  background-color: rgba(8, 0, 255, 0.303);
}