body {
  background-color: #4b8888;
  color: #fff ;
}
textarea {
  resize: none;
}
.container{
  display: flex;
  align-self: center;
  justify-content: center;
  min-height: 100vh;

}
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 3px;
  padding: 10px 15px;
  margin: auto;
  transition: all 0.4s;
}
.tooltip span {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: cadetblue;
  padding: 5px 15px;
  border-radius: 5px;
  top: -50px;
  left: -10px;
 transition: opacity 1s;

}
.tooltip span::before {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 100%;
  bottom: -3px;
  left: 45px;
  width: 5px;
  height: 5px;
  background-color: black;
  transition: opacity 1.5s;

}
.tooltip:hover span, .tooltip:hover span::before {
 opacity: 1;
  
}
.tooltip:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-5px);
  color: white;
  background-color: rgba(210, 105, 30, 0.361);
}
