:root {
  --bg-right: rgb(51, 128, 128);
  --bg-left: rgb(91, 51, 128);
}
* {
  box-sizing: border-box;
}
body {
  background-color: #3c3c3c;
  color: #fff;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.col-sm {
  background-color: aqua;
}
.col-md {
  background-color: rgb(140, 255, 0);
}
.col-lg {
  background-color: rgb(255, 0, 144);
}
.col-xl {
  background-color: rgb(8, 0, 255);
}